@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Clam</h1>
    <p class="lead">Do not use the F Clam under the influence of alcohol.</p>
</div>

    @using (Html.BeginForm()) 
    {
        <p> Password: @Html.Password("password") <br />
    <input type="submit" value="Log In" /></p>
    }